name: qr_absen
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0        #
  geolocator: ^10.1.0  
  qr_flutter: ^4.1.0   
  shared_preferences: ^2.2.1 
  image_picker: ^1.0.4  # Untuk ambil foto/galeri
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
