name: qr_absen
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0        # Untuk nembak API Laravel
  geolocator: ^10.1.0  # Untuk ambil GPS
  qr_flutter: ^4.1.0   # Untuk generate QR Code di layar HP
  shared_preferences: ^2.2.1 # Untuk simpan token login (Sanctum)

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
